<!-- NAV BAR -->
  <div class='ui menu custom-nav'>

    <!-- LEFT NAV (PARTIAL?) -->
      <a class='active item' href='/'>
      Home
      </a>
      <% if (typeof currentUser === 'object') { %>
        <div class="item">
  <div class="ui simple dropdown">
    Create
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item" href="/collections/new">New Bag</a>
      <a class="item">New Post</a>
    </div>
  </div>
</div>
      <% } %>

<form class="item" method='get' action='/discover'>
<input type='hidden' name='modeSelecta' value='giphy' id="modeSelecta">
  <div class="ui inline dropdown">
    <div class="text">
      <img class="ui avatar image" src="/images/memebag.png" style="border: 0px solid transparent; border-radius: 100%;">
      Discover on...
    </div>
    <i class="dropdown icon"></i>
    <div class="menu">

      <div class="item">
        <img class="ui avatar image" src="/images/reddit.png" style="width: 30px !important; height: 50px !important; border: 1 solid transparent; border-radius: 100%;">
        <span class="text">Reddit</span>
          <div class="menu">
            <div class="header">Quick Search</div>

            <a class="item" onClick="" href='/discover'>
              <img class="ui avatar image" src="/images/reddit.png" style="width: 30px !important; height: 50px !important; border: 1 solid transparent; border-radius: 100%;">
              /r/realifedoodles
            </a>
            <a class="item" onClick="" href='/discover'>
              <img class="ui avatar image" src="/images/reddit.png" style="width: 30px !important; height: 50px !important; border: 1 solid transparent; border-radius: 100%;">
              /r/funny
            </a>
            <a class="item" onClick="" href='/discover'>
              <img class="ui avatar image" src="/images/reddit.png" style="width: 30px !important; height: 50px !important; border: 1 solid transparent; border-radius: 100%;">
              /r/photoshopbattles
            </a>

            <div class="divider"></div>
            <div class="header">Another Subreddit</div>
            <div class="item" onClick="modeSwitch('reddit')">
              <img class="ui avatar image" src="/images/reddit.png" style="width: 30px !important; height: 50px !important; border: 1 solid transparent; border-radius: 100%;">
              /r/
            </div>

          </div>

      </div>
      <div class="item" onClick="modeSwitch('giphy')">
        <img class="ui avatar image" src="/images/giphy.png">
        Giphy
      </div>
    </div>
  </div>
  <input class="ui search panel" style="width: 80px; border: 1px solid grey; border-radius: 2px;" name='searchWord'>
  <button class="search-form-submit"><div style="background: black; width: 30px; height: 30px; border: none; border-radius: 100%; padding: 25%; justify-content: center !important;"><i class="inverted search icon" style="margin: 1% auto;"></i></div></button>
</form>
    <!-- LEFT NAV -->

    <!-- MESSAGE WINDOW -->
    <!-- MESSAGE WINDOW -->

    <!-- RIGHT NAV -->
      <% if (typeof currentUser === 'object') { %>
        <div class='right menu'>



    <div class="ui right dropdown item">
      <% if (currentUser.facebookID !== 'none') { %>
      <img src="http://graph.facebook.com/<%= currentUser.facebookID %>/picture" id="avatar">
      <% } else if (currentUser.googleID !== 'none') { %>
      <img src="http://graph.facebook.com/<%= currentUser.facebookID %>/picture" id="avatar">
      <% } else { %>
      <img src="<%= currentUser.profilePic %>" id="avatar">
      <% } %>
          <%= currentUser.fullname %>
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item" href="/profile">Profile</a>
      <a class="item" href="/collections">My Bags o' Memes &nbsp; &nbsp; <strong class="count-number"><%= currentUser.bagCount %></strong></a>
      <div class="ui divider"></div>
      <a class="item" href="/logout">Logout</a>

    </div>
  </div>
</div>
          <div class="item">&nbsp; &nbsp;</div>
        </div>
      <% } else { %>
        <div class='right menu'>
          <a class='ui item' href="/login">
          Log In
          </a>
          <a class='ui item' href="/register">
          Sign Up
          </a>
        </div>
      <% } %>
    <!-- RIGHT NAV -->

  </div>
  <script src="/tools/jquery.js"></script>
  <script>
  function modeSwitch(mode) {
  if (mode === 'giphy') {
    document.getElementById("modeSelecta").value="giphy";
    console.log('giphy');
    return;
  }
  if (mode === 'reddit') {
    document.getElementById("modeSelecta").value="reddit";
    console.log('reddit');
    return;
  }
  return;
}
</script>
<!-- NAV BAR -->