
<h2 style="color: white; margin-left: 20px;"> <%= currentUser.fullname %>'s Meme Bags </h2>
<div class="discover-board ui cards raised segment">

<% alltheBags.forEach((oneBag) => { %>

<!-- -->
      <div class="card treasure">

          <div class="image">
            <a href="/memes_in_a_bag">
            <img class="image" src="<%= oneBag.fileURL %>" style="width: 100% !important; height: 35vh;">
            </a>
          </div>

        <div class="content">
          <a class="header">
          <div class="header"><%= oneBag.collectionName %></div>
          </a>

          <div class="meta">By: <%= oneBag.owner %></div>
          <br />
          <br />
          <div class="description">
          <%= oneBag.collectionDetails %>
          </div>
        </div>

        <div class="extra content">
          <span class="right floated">
            Edit | Share
          </span>
          <span>
            <i class="cubes icon"></i>
            <%= oneBag.ALLtheMemes.length %> Goodies Inside
          </span>
        </div>

      </div>
      <!-- -->
<% }); %>
</div>