<!-- COLLECTION HEADER -->
<div class="ui panel" style="height: 25vh; background-color: white; width: 75vw; margin: 1% auto;">
<img src="/images/reddit.png" style="width: 10vw; height 10vh; margin: 5% auto; clear: both; overflow: auto;">
</div>
<!-- COLLECTION HEADER -->

<!-- COLLECTION CONTENT -->
<div class="discover-board ui cards raised segment">
<% redditResponse.forEach((post) => { %>

 <!-- PARSE URLS AND DISPLAY VALID CONTENT -->
    <% function parseUrl(url, author, source, title, domain, thumbnail, nsfw) { %>

      <% var split = url.split('.'); %>
      <% console.log('split: ' + split); %>
      <% var fileType = split[split.length -1]; %>

      <% if (nsfw) { %>
      <!-- -->
      <div class="card treasure">

          <div class="image">
            <img src="/images/denied.jpg">
          </div>

        <div class="content" style="padding: 15px 65px;">
          <h4 style="margin: 0 auto !important;">( Flagged as NSFW )</h4>
        </div>

        <div class="extra content">
        </div>

      </div>
      <% return; %>
      <!-- -->
      <% } %>

      <% if (fileType === 'gif' || fileType === 'jpg' || fileType === 'png') { %>
      <% var correctUrl = split.join('.'); %>
      <!-- -->
      <div class="card treasure">

          <div class="image">
            <div class="ui instant fade reveal image">
              <img class="visible content" src="<%= thumbnail %>" style="width: 290px !important; height: 150px;">
              <img class="hidden content"  src="<%= correctUrl %>"style="width: 290px !important; height: 150px;">
            </div>
          </div>

        <div class="content">
          <div class="header">  <%= title %> </div>
          <div class="meta">By: <%= author %></div>
          <div class="description">
            &nbsp;From:  <a href="http://www.reddit.com/<%= source %>" target="_blank"><%= source %></a>
          </div>
        </div>

        <div class="extra content">
          <span class="right floated">
            More | Share
          </span>
          <span>
            <i class="user icon"></i>
            Add To Bag
          </span>
        </div>

      </div>
      <% return; %>
      <!-- -->

      <% } else if (fileType === 'gifv') { %>
      <%  split[split.length -1] = 'gif'; %>
      <% var fixedUrl = split.join('.'); %>
      <!-- -->
      <div class="card treasure">

          <div class="image">
            <div class="ui instant fade reveal image">
              <img class="visible content" src="<%= thumbnail %>" style="width: 290px !important; height: 150px;">
              <img class="hidden content"  src="<%= fixedUrl %>"  style="width: 290px !important; height: 150px;">
            </div>
          </div>

        <div class="content">
          <div class="header">  <%= title %> </div>
          <div class="meta">By: <%= author %></div>
          <div class="description">
            &nbsp;From:  <a href="http://www.reddit.com/" target="_blank"><%= source %></a>
          </div>
        </div>

        <div class="extra content">
          <span class="right floated">
            More | Share
          </span>
          <span>
            <i class="user icon"></i>
            Add To Bag
          </span>
        </div>

      </div>
      <% return; %>
      <!-- -->

      <% } else { %>
      <%  return; %>
      <% } %>

  <% } %>
  <!-- PARSE URLS AND DISPLAY VALID CONTENT -->
  <% parseUrl(post.data.url, post.data.author, post.data.subreddit_name_prefixed, post.data.title, post.data.domain, post.data.thumbnail, post.data.over_18); %>
<% }); %>
</div>
<!-- COLLECTION CONTENT -->