<!-- COLLECTION HEADER -->
<!-- Mode Logo -->
<div class="ui panel" style="width: 12vw; height: 12vw; background-color: white; margin: 1% auto; border: none; border-radius: 100%">
  <img src="/images/<%= mode %>.png" style="width: 10vw; height 10vh; margin: 8.5%;">

</div>
<!-- MODE Logo -->
<!-- Source/search type | subreddit -->
<!-- Source/search type | subreddit -->
<!-- COLLECTION HEADER -->

<!-- COLLECTION CONTENT -->
<div class="discover-board ui cards raised segment">
<% response.forEach((post) => { %>
<% if (dankSource === 'reddit') { %>
  <!-- REDDIT BASED RESPONSES -->
  <!-- PARSE URLS AND DISPLAY VALID CONTENT -->
    <% function parseUrl(url, author, source, title, domain, thumbnail, nsfw, images) { %>

      <% var split = url.split('.'); %>
      <% console.log('split: ' + split); %>
      <% var fileType = split[split.length -1]; %>

      <% if (nsfw) { %>
      <!-- -->

      <div class="card treasure">

          <div class="image">
            <img src="/images/denied.jpg">
          </div>

        <div class="content" style="padding: 15px 65px;">
          <h4 style="margin: 0 auto !important;">( Flagged as NSFW )</h4>
        </div>

        <div class="extra content">
        </div>

      </div>
      <% return; %>
      <!-- -->
      <% } %>

      <% if (fileType === 'gif' || fileType === 'jpg' || fileType === 'png') { %>
      <% var correctUrl = split.join('.'); %>
      <!-- -->
      <div class="card treasure">

          <div class="image">
            <div class="ui instant fade reveal image">
              <img class="visible content" src="<%= thumbnail %>" style="width: 290px !important; height: 150px;">
              <img class="hidden content"  src="<%= correctUrl %>"style="width: 290px !important; height: 150px;">
            </div>
          </div>

        <div class="content">
          <div class="header">  <%= title %> </div>
          <div class="meta">By: <%= author %></div>
          <div class="description">
            &nbsp;From:  <a href="http://www.reddit.com/<%= source %>" target="_blank"><%= source %></a>
          </div>
        </div>

        <div class="extra content">
          <span class="right floated">
            More | Share
          </span>
          <span>
            <i class="hand lizard icon"></i>
            <a>Add To Bag</a>
          </span>
        </div>

      </div>
      <% return; %>
      <!-- -->

      <% } else if (fileType === 'gifv') { %>
      <%  split[split.length -1] = 'gif'; %>
      <% var fixedUrl = split.join('.'); %>
      <!-- -->
      <div class="card treasure">

          <div class="image">
            <div class="ui instant fade reveal image">
              <img class="visible content" src="<%= thumbnail %>" style="width: 290px !important; height: 150px;">
              <img class="hidden content"  src="<%= fixedUrl %>"  style="width: 290px !important; height: 150px;">
            </div>
          </div>

        <div class="content">
          <div class="header">  <%= title %> </div>
          <div class="meta">By: <%= author %></div>
          <div class="description">
            &nbsp;From:  <a href="http://www.reddit.com/" target="_blank"><%= source %></a>
          </div>
        </div>

        <div class="extra content">
          <span class="right floated">
            More | Share
          </span>
          <span>
            <i class="hand lizard icon"></i>
            <a>Add To Bag</a>
          </span>
        </div>

      </div>
      <% return; %>
      <!-- -->

      <% } else { %>
      <%  return; %>
      <% } %>

  <% } %>
  <!-- PARSE URLS AND DISPLAY VALID CONTENT -->
  <% parseUrl(post.data.url, post.data.author, post.data.subreddit_name_prefixed, post.data.title, post.data.domain, post.data.thumbnail, post.data.over_18); %>
  <!-- REDDIT BASED RESPONSES -->
  <% } %>

<% if (dankSource === 'giphy') { %>
    <!-- GIPHY BASED RESPONSES -->
          <div class="card treasure">

          <div class="image">
              <img src="<%= post.images.downsized_large.url %>" style="width: 290px !important; height: 150px;">
          </div>

        <div class="content">
          <div class="meta"># <%= searchWord %></div>
          <div class="description">
            &nbsp;From:  <a href="<%= post.source %>" target="_blank"><%= post.source_tld %></a>
          </div>
        </div>

        <div class="extra content">
          <span class="right floated">
            More | Share
          </span>
          <span>
            <i class="hand lizard icon"></i>
            <a>Add To Bag</a>
          </span>
        </div>
        </div>
<% } %>

<% }); %>

</div>
<!-- COLLECTION CONTENT -->