<!-- COLLECTION HEADER -->
<!-- Mode Logo -->
<div class="ui panel" style="width: 12vw; height: 12vw; background-color: white; margin: 1% auto; border: none; border-radius: 100%">
<img src="/images/<%= mode %>.png" style="width: 10vw; height 10vh; margin: 8.5%;">

</div>
<!-- MODE Logo -->
<!-- Source/search type | subreddit -->
<!-- Source/search type | subreddit -->
<!-- COLLECTION HEADER -->

<!-- COLLECTION CONTENT -->
<div class="discover-board ui cards raised segment">
<% response.forEach((post) => { %>
<% if (dankSource === 'reddit') { %>
  <!-- REDDIT BASED RESPONSES -->
  <!-- PARSE URLS AND DISPLAY VALID CONTENT -->
    <% function parseUrl(url, author, source, title, domain, thumbnail, nsfw, images) { %>

      <% var split = url.split('.'); %>
      <% console.log('split: ' + split); %>
      <% var fileType = split[split.length -1]; %>

      <% if (nsfw) { %>
      <!-- -->

      <div class="card treasure">

          <div class="image">
            <img src="/images/denied.jpg">
          </div>

        <div class="content" style="padding: 15px 65px;">
          <h4 style="margin: 0 auto !important;">( Flagged as NSFW )</h4>
        </div>

        <div class="extra content">
        </div>

      </div>
      <% return; %>
      <!-- -->
      <% } %>

      <% if (fileType === 'gif' || fileType === 'jpg' || fileType === 'png') { %>
      <% var correctUrl = split.join('.'); %>
      <!-- -->
      <div class="card treasure">

          <div class="image">
            <div class="ui instant fade reveal image">
              <img class="visible content" src="<%= thumbnail %>" style="width: 290px !important; height: 150px;">
              <img class="hidden content"  src="<%= correctUrl %>"style="width: 290px !important; height: 150px;">
            </div>
          </div>

        <div class="content">
          <div class="header">  <%= title %> </div>
          <div class="meta">By: <%= author %></div>
          <div class="description">
            &nbsp;From:  <a href="http://www.reddit.com/<%= source %>" rel="noopener" target="_blank"><%= source %></a>
          </div>
        </div>

        <div class="extra content">
          <span class="right floated">
            More | Share
          </span>

          <!-- REDDIT MEME SAVE (BASED OFF OF MEME-MODEL)-->
          <form method='get' action='/discover'>
          <input type='hidden' name='memeName'       value='<%= post.data.title %>'>
          <input type='hidden' name='memeSource'     value='<%= post.data.subreddit_name_prefixed %>'>
          <input type='hidden' name='originalPoster' value='<%= post.data.author %>'>
          <input type='hidden' name='sharedBy'       value='<%= currentUser.fullname %>'>
          <input type='hidden' name='fileURL'        value='<%= post.data.url %>'>
          <input type='hidden' name='thumbnailURL'   value='<%= post.data.thumbnail %>'>
          <input type='hidden' name='nsfw'           value='<%= post.data.over_18 %>'>
          <input type='hidden' name='mode'           value='reddit'>
          <button class="button simple" type="submit">
            <i class="hand lizard icon"></i>
            <a>Add To Bag</a>
          </button>
          </form>
          <!-- REDDIT MEME SAVE-->

        </div>

      </div>
      <% return; %>
      <!-- -->

      <% } else if (fileType === 'gifv') { %>
      <%  split[split.length -1] = 'gif'; %>
      <% var fixedUrl = split.join('.'); %>
      <!-- -->
      <div class="card treasure">

          <div class="image">
            <div class="ui instant fade reveal image">
              <img class="visible content" src="<%= thumbnail %>" style="width: 290px !important; height: 150px;">
              <img class="hidden content"  src="<%= fixedUrl %>"  style="width: 290px !important; height: 150px;">
            </div>
          </div>

        <div class="content">
          <div class="header">  <%= title %> </div>
          <div class="meta">By: <%= author %></div>
          <div class="description">
            &nbsp;From:  <a href="http://www.reddit.com/" rel="noopener" target="_blank"><%= source %></a>
          </div>
        </div>

        <div class="extra content">
          <span class="right floated">
            More | Share
          </span>

          <!-- REDDIT MEME SAVE (BASED OFF OF MEME-MODEL)-->
          <form>
          <input type='hidden' name='memeName'       value='<%= post.data.title %>'>
          <input type='hidden' name='memeSource'     value='<%= post.data.subreddit_name_prefixed %>'>
          <input type='hidden' name='originalPoster' value='<%= post.data.author %>'>
          <input type='hidden' name='sharedBy'       value='<%= currentUser.fullname %>'>
          <input type='hidden' name='fileURL'        value='<%= post.data.url %>'>
          <input type='hidden' name='thumbnailURL'   value='<%= post.data.thumbnail %>'>
          <input type='hidden' name='nsfw'           value='<%= post.data.over_18 %>'>
          <input type='hidden' name='mode'           value='reddit'>
          <button>
            <i class="hand lizard icon"></i>
            <a>Add To Bag</a>

            <select class="ui search dropdown">
              <% alltheBags.forEach((oneBag) => { %>
                <option value="<%= oneBag._id %>"><%= oneBag.collectionName %></option>
              <% }); %>
            </select>

          </button>
          </form>
          <!-- REDDIT MEME SAVE-->
        </div>

      </div>

      <% return; %>
      <!-- -->

      <% } else { %>
      <%  return; %>
      <% } %>

  <% } %>
  <!-- PARSE URLS AND DISPLAY VALID CONTENT -->
  <% parseUrl(post.data.url, post.data.author, post.data.subreddit_name_prefixed, post.data.title, post.data.domain, post.data.thumbnail, post.data.over_18); %>
  <!-- REDDIT BASED RESPONSES -->
  <% } %>

<% if (dankSource === 'giphy') { %>
    <!-- GIPHY BASED RESPONSES -->
          <div class="card treasure">

          <div class="image">
              <img src="<%= post.images.downsized_large.url %>" style="width: 100% !important; height: 35vh;">
          </div>

        <div class="content">
          <div class="meta"># <%= searchWord %></div>
          <div class="description">
            &nbsp;From:  <a href="<%= post.source %>" rel="noopener" target="_blank"><%= post.source_tld %></a>
          </div>
        </div>

        <div class="extra content">
          <span class="right floated">
            <a href="/discover?searchWord=<%= post.source_tld %>">More</a> | Share
          </span>

          <!-- GIPHY MEME SAVE (BASED OFF OF MEME-MODEL)-->
              <div class="ui floating dropdown labeled search icon button" name='targetBag' style="padding:2px 35px !important;width:115px !important;">
              <i class="hand lizard icon"></i>
              <span class="text">Add To</span>
              <div class="menu">
              <% alltheBags.forEach((oneBag) => { %>

              <div class="item">

              <form action='/add-to-bag' method='post'>
                <input type='hidden' name='memeName'       value='<%= searchWord %>'>
                <input type='hidden' name='memeSource'     value='<%= post.source_tld %>'>
                <input type='hidden' name='sharedBy'       value='<%= currentUser.fullname %>'>
                <input type='hidden' name='fileURL'        value='<%= post.images.downsized_large.url %>'>
                <input type='hidden' name='mode'           value='giphy'>
                <input type='hidden' name='targetBag'      value='<%= oneBag._id %>'>
                <button><%= oneBag.collectionName %></button>
              </form>
              </div>

              <% }); %>
              </div>
            </div>





          <!-- GIPHY MEME SAVE-->
        </div>
        </div>
<% } %>

<% }); %>

</div>
<!-- COLLECTION CONTENT -->


<!-- HIDDEN FORM THAT AUTOPOPULATES WITH DATA ON EACH MEME DISPLAYED. WHEN 'ADD TO BAG' IS CLICKED ON A MEME, THAT FORM IS POSTED AS A NEW OBJECT -->
<form>

