
<body class="default-bggit ">

<h2> <%= currentUser.fullname %>'s Collections </h2>
<div class="ui panel main-display">
<% allTheCollections.forEach((oneCollection) => { %>

<div class="ui card" style="margin: 5%; display: flex;">
  <%= oneCollection.collectionName %>
  <br />
  <img src='<%= oneCollection.fileURL %>' style="width: 290px; height: 100%;">
  Owner: <%= oneCollection.owner %>
  <br />
  Details: <%= oneCollection.collectionDetails %>
</div>

<% }); %>
</div>